--extra-index-url https://download.pytorch.org/whl/cu121
soundcard==0.4.2
numpy==1.26.4
Halo
pyaudio
resampy==0.4.3
librosa==0.10.1
setuptools
tqdm
huggingface_hub
ctranslate2
faster_whisper
torch==2.2.0
torchvision==0.17.0
torchaudio==2.2.0
transformers==4.39.3