--extra-index-url https://download.pytorch.org/whl/cu128
numpy==1.26.4
Halo
setuptools
tqdm
huggingface_hub
ctranslate2==4.6.0
faster_whisper==1.1.1
torch==2.7.0
torchaudio==2.7.0
torchvision==0.22.0
